.ListResults {
    text-align: left;
    /* margin-top: 15px;
    margin-left: 25px; */
    position: relative;
}
.ListResults .nav3 {
text-align: center;
position: fixed;
width: 100%;
z-index: 10; 
height: 150px;
background: bisque;

}
.ListResults img {
    opacity: .3;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: auto;
    position: fixed;
    /* width: 100%; */
    z-index: -2;
    margin-top: 30px;
}
.ListResults .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: fixed; 
    /* overflow: hidden; */
}

.ListResults .text {
    /* margin-left: 30px; */
    position: fixed;
    margin-top: 0;
    z-index: 3;
    background:bisque;
    height: 185px;
    width: 100%;
}
.ListResults .instr{
    text-align: center;
    margin-top: 5px;
}
.ListResults h3 {
    margin-left: 60px;
    margin-top: 0;
}
.ListResults .background2{
    opacity: 1;
    margin-left: 30px;
    position: absolute;
    /* top: 120px; */
    height: 100%;
    width: 100%;
     z-index: 1;
}

.ListResults .artTitles {
    /* z-index: 20; */
    position: relative;
    /* overflow: auto; */
    z-index: 1;
    margin-left: 30px;
    top: 180px;
    height: 100%;
    width: 100%;

}
.ListResults .container {
    width: 30px;
    height: 30px;
    perspective: 500px;
    margin: 9px;
    display:inline-block
  }
  .ListResults .cube {
    position: relative;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
    transform: rotate3d(0.3, 0.5, 0, 60deg);
  }
  
  .ListResults .face {
    color: white;
    width: 30px;
    height: 30px;
    background: red;
    border: 2px solid black;
    position: absolute;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Trade Winds", cursive;
  }
  
  .ListResults .front {
    transform: translateZ(15px);
  }
  
  .ListResults .left {
    transform: translateX(-15px) rotateY(-90deg);
  }
  
  .ListResults .bottom {
    transform: translateY(15px) rotateX(-90deg);
  }
  
  .ListResults .b-box {
      background: red;
  }
  
  .ListResults .a-box {
      background: blue;
  }
  
  .ListResults .s-box {
      background: green;
  }