.ListResults {
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;
    position: relative;
}
.ListResults .nav {
text-align: center;
z-index: 100;
}
.ListResults img {
    opacity: .5;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: auto;
    position: fixed;
    /* width: 100%; */
}
.ListResults .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .75;
    min-height: 100vh;
    width: 100%;
    position: fixed; 
}

.ListResults .text {
    margin-left: 30px;
    position: fixed;
    margin-top: 40px;
    z-index: 10;
}

.ListResults .background2{
    opacity: 1;
    font-weight: bold;
    margin-left: 30px;
    position: absolute;
    top: 110px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.screen {
    width: 100%;
    position: relative;
    z-index: 10;
}
.ListResults .results {
    z-index: -1;
    position: relative;
}
.ListResults .artTitles {
    z-index: -10;
    position: relative;
}
