.ListResults {
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;
}
.ListResultsNav {
text-align: center;
}
.ListResults img {
    opacity: .5;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: auto;
    /* width: 100%; */
}
.ListResults .background {
    /* background-image: url('../../ArtInstituteofChicago2.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .75;
    min-height: 100vh;
    width: 100%;
    position: fixed; 
}
.ListResults .background2{
    opacity: 1;
    font-weight: bold;
    margin-left: 30px;
    position: absolute;
    top: 50px;
    height: 100%;
    width: 100%;
}
.ListResults .background .instr {
    opacity: 1;
    font-weight: bold;
    text-align: center;
}
.screen {
    width: 100%;
    position: relative;
}
